@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@900&display=swap');

/* o "*" seria refrente aos espacamentos entre os elementos */

* { margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-image: url(./home-dados\ \(2\).jpg);
    background-size: cover;
    height: 100vh;
    padding-top: 12.5rem;
    padding-left: 6.75rem;

}

h1 {
    
    font-size: 50px;
    font-weight: 900;
    color: #ffffff;
    font-family: 'Poppins';

}

h2 {
   
    font-size: 42px;
    color: #fff;
    font-family: 'Raleway';
}


a {
    margin: 10px;
    padding: 10px;
    color:#fff;
    font-size: 1.2rem;
    font-family: 'Poppins';
    text-transform: uppercase;
    /* para deixa tudo em letra maiscula! */
    text-decoration: none;
    background: linear-gradient(90deg, rgb(25, 38, 53), rgb(48, 102, 121) );
    padding: 1rem 2rem;
    border-radius: 7px;

}

/* como deixa redondo*/

img {
    border-radius: 50%;
    /* se a imagem for muito grande usar */
    width: 300px;
    height: 300px;
}

/* flex box*/
section{
    display: flex;
    gap: 2rem;
    padding: 7rem;
    background-image: url(./home-me\ \(2\).jpg);
    
}

div {
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 

}

h3 {
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
    font-family: 'Montserrat';
}

p {
    color: #fff;
    font-family: 'Jost';
    font-size: 23px;
    line-height: 2rem;
}
